@page
@model Baruch.Website.Pages.articleModel
@{
}
   <div class="container-1400 mx-auto">
    <div class="grid grid-cols-5">

        <main class="col-span-5 lg:col-span-3 p-5 border m-2 rounded-lg shadow text-gray-700">
            <div class="flex justify-between">
                <h3 class="text-2xl p-1 mb-3">چرا مس و چرا باروخ؟</h3>
                <p class="text-lg text-gray-600 p-1"><i class="zmdi zmdi-calendar"></i>1401/02/01</p>
            </div>
            <div class="pb-2 border-b">


                <img class="w-full rounded-lg mx-auto" src="/Site/img/index.jpg" alt="">
                
            </div>
            <div class="text-lg text-justify">

                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </div>
            
                
            </main>
            <aside class="col-span-5 lg:col-span-2 border m-2 text-gray-700 rounded-lg shadow p-5">
                <h3 class="text-lg">سایر مقالات</h3>
                <ul class="text-lg pb-5">
                    <li class="m-2 text-base"><a href="http://"><i class="zmdi zmdi-chevron-left"></i> چرا باید از ظروف مسی بیشتر استفاده کنید؟</a></li>
                    <li class="m-2 text-base"><a href="http://"><i class="zmdi zmdi-chevron-left"></i> چرا باید از ظروف مسی بیشتر استفاده کنید؟</a></li>
                    <li class="m-2 text-base"><a href="http://"><i class="zmdi zmdi-chevron-left"></i> چرا باید از ظروف مسی بیشتر استفاده کنید؟</a></li>
                    <li class="m-2 text-base"><a href="http://"><i class="zmdi zmdi-chevron-left"></i> چرا باید از ظروف مسی بیشتر استفاده کنید؟</a></li>
                    <li class="m-2 text-base"><a href="http://"><i class="zmdi zmdi-chevron-left"></i> چرا باید از ظروف مسی بیشتر استفاده کنید؟</a></li>
                </ul>
                <hr/>
                <div>
                    <h3 class="mb-3">برچسب ها</h3>
                     <ul class="flex">
                <li class="p-1 bg-gray-200 mx-1 rounded"><a href="">قابلمه</a></li>
                <li class="p-1 bg-gray-200 mx-1 rounded"><a href="">ظرف مسی</a></li>
                <li class="p-1 bg-gray-200 mx-1 rounded"><a href="">باروخ</a></li>

            </ul>
                </div>
            </aside>
        </div>
    </div>