@page
@model Baruch.Website.Pages.dashbordModel
@{
}


<section class="container mx-auto">
    <section class="grid grid-cols-4 mt-5 gap-10">
        <aside class="shadow-lg col-span-5 lg:col-span-1 mx-5 lg:mx-0 p-5 border rounded-lg lg:h-screen">
            <div class="flex justify-center mb-7">
                
              <a href="#"
                       id="header-logo"
                       class="block">
                        <a href="/" class="">
                            <span class="text-red-500 underline font-smooch text-3xl lg:text-5xl">Baruch</span>
                            <h1 class="text-smooch lg:text-sm text-xs -mt-2 text-red-600">گالری مس باروخ</h1>
                        </a>
            </div>
                
                        <ul>
                    <li class="text-sm text-blue-400 mb-5 hover:text-black"><i class="zmdi zmdi-dot-circle zmdi-hc-fw"></i><a href="">داشبورد</a></li>
                    <li class="text-sm text-blue-400 mb-5 hover:text-black"><i class="zmdi zmdi-dot-circle zmdi-hc-fw"></i><a href="">ویرایش اطلاعات کاربری</a></li>
                    <li class="text-sm text-blue-400 mb-5 hover:text-black"><i class="zmdi zmdi-dot-circle zmdi-hc-fw"></i><a href="">تغییر رمز عبور</a></li>
                    
                </ul>
        </aside>
        <main class="col-span-5 lg:col-span-3 shadow-lg p-5 mx-5 lg:mx-0 border lg:h-screen rounded-lg">
            <form>
                <div>
                    <label>نام و نام خانوادگی</label>
                <input type="text"/>
                </div>
                
            </form>
        </main>
    </section>
</section>