<html
    lang="en"
    dir="rtl"
    class="scroll-smooth"
>

<head>
    <meta charset="UTF-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>فروشگاه مسفو</title>
   <link
        rel="stylesheet"
        href="/Site/css/App.css"
    >
    <link
        rel="stylesheet"
        href="/Site/fonts/zmdi/css/material-design-iconic-font.min.css"
    >
    <link
        rel="stylesheet"
        href="/Site/css/slider.css"
    >
    <link
        rel="stylesheet"
        href="/Site/css/product-slider.css"
    >

   


</head>

<body class="bg-gray-50
 font-yekan
 ">
    <div class="pt-1 border border-gray-300">
        <div class="container mx-auto">

            <p class="text-xs">ارسال به سراسر کشور</p>
        </div>
    </div>
    <header class="top-0 lg:h-24 z-20 border-b sticky border-red-400 bg-white" id="main-header">

        <div class="container-1400 mx-auto">

            <div class="flex justify-between">
                <div id="search-container" class="flex">

                    <a
                        href="#"
                        id="header-logo"
                        class="lg:py-4 pt-2 block"
                    >
                    <a href="/" class="mt-2">
                        <span class="text-red-500 underline font-smooch text-3xl lg:text-5xl">Baruch</span>
                        <h1 class="text-smooch lg:text-sm text-xs -mt-2 text-red-600">گالری مس باروخ</h1>
                    </a>
                    <div class="flex lg:pt-5 w-full items-center mr-4">
                        <button id="search-form-btn" class="shadow-lg rounded-full p-2 border-gray-400 border hover:bg-gray-200"><img class="w-5" src="/Site/img/icons8-search-50.png" alt=""></button>
                        <form id="search-form" class="search-form search-form-hidden justify-around flex py-1 " action="">
                            <div>

                                <input
                                class="lg:p-2 p-1 focus:outline-none sm:w-96 border border-gray-300 focus:border-gray-500 rounded-r-lg"
                                type="text"
                                placeholder="جستجو در مسفو"
                                name=""
                                id=""
                                >
                                <button
                                class="lg:py-3 py-2 px-2 bg-gray-900 hover:bg-gray-900 text-white rounded-l-md -mr-2"><i class="zmdi zmdi-search zmdi-hc-lg"></i></button>
                            </div>
                            <button type="button" id="search-form-close-btn" class="mr-2 p-2 text-white rounded-full"><img class="border border-red-500 rounded-full" src="/Site/img/icons8-close-48.png" width="20" alt=""></button>
                            </form>
                    </div>
                </div>
                <div id="header-icons" class="lg:py-4 pt-2 flex justify-between items-start ">
                    <a
                        href="#"
                        class="flex md:ml-5 relative hover:-translate-y-1 transition duration-100 ease-in hover:shadow-lg p-2 rounded-2xl flex-col lg:flex-row justify-center"
                    >

                        <img
                            class="ml-2 w-10 h-10 lg:w-auto lg:h-auto"
                            src="/Site/img/icons8-phone-60.png"
                            alt=""
                        >
                        <div class="pt-3  md:w-32 lg:w-auto text-gray-600 hidden lg:block font-yekanbold">

                            <div class="text-gray-600 mb-3 text-xs lg:text-sm">

                                پاسخگویی 24 ساعت شبانه روز
                            </div>
                            <div class="lg:text-sm text-xs text-gray-600">
                                09135655555

                            </div>
                        </div>

                    </a>
                    <a
                        href="#"
                        class="flex md:ml-5 relative hover:-translate-y-1 transition duration-100 ease-in hover:shadow-lg p-1 rounded-2xl flex-col lg:flex-row justify-center "
                    >

                        <img
                        class="w-10 h-10 lg:w-auto lg:h-auto"
                            src="/Site/img/icons8-shopping-bag-64.png"
                            alt=""
                        >
                        <div class="lg:pt-3 text-gray-600">

                            <div class="text-xs mb-3">
                                <span class="badge absolute bottom-3 md:bottom-0 md:relative bg-red-600">2</span>
                                <span class="hidden lg:inline">محصول</span>
                            </div>
                            <div class="text-xs">
                               <span class="hidden lg:inline"> جمع کل :</span>
                                <span class="badge hidden lg:inline bg-red-600">20000 ریال</span>
                            </div>
                        </div>
                    </a>
                    <a
                        href="#"
                        class="flex md:ml-5 relative hover:-translate-y-1 transition duration-100 ease-in hover:shadow-lg p-1 rounded-2xl flex-col lg:flex-row justify-center"
                    >

                        <img
                        class=" w-10 h-10 lg:w-auto lg:h-auto"
                            src="/Site/img/icons8-user-64.png"
                            alt=""
                        >
                        <span class="text-xs mt-2 font-yekanbold hidden lg:inline">محمدحسین خالداری</span>

                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav class="bg-red-500 relative">
        <div class="container-1400 mx-auto px-3 h-16 flex justify-between items-center">
            <div id="burger-menu-btn" class="text-white cursor-pointer lg:cursor-default lg:text-gray-200 flex">
                <i class="zmdi zmdi-view-list-alt text-white lg:text-gray-200 zmdi-hc-3x"></i>
                <h3 class="font-yekanbold hidden lg:flex mt-2 text-lg mr-2">محصولات</h3>
            </div>

            <div class="container mx-auto hidden lg:flex justify-end">

                <ul class="flex justify-end relative z-40 py-5 font-yekanbold text-white">
                    <li class="mx-3 hover:translate-y-1 transition duration-100">
                        <a
                            data-target="cat-modal"
                            class="modal-btn hover:text-black"
                            href=""
                        >
                            ضروف آشپزخانه
                            <i class="zmdi zmdi-chevron-down"></i>
                        </a>
                    </li>
                    <li class="mx-3 hover:translate-y-1 transition duration-100">
                        <a
                            data-target="cat-modal"
                            class="modal-btn hover:text-black"
                            href=""
                        >
                            لوازم دکور
                            <i class="zmdi zmdi-chevron-down"></i>
                        </a>
                    </li>
                    <li class="mx-3 hover:translate-y-1 transition duration-100">
                        <a
                            data-target="cat-modal"
                            class="modal-btn hover:text-black"
                            href=""
                        >
                            زیورآلات
                            <i class="zmdi zmdi-chevron-down"></i>
                        </a>
                    </li>
                    <li class="mx-3 hover:translate-y-1 transition duration-100">
                        <a
                            data-target="cat-modal"
                            class="modal-btn hover:text-black"
                            href=""
                        >
                            لیوان و استکان
                            <i class="zmdi zmdi-chevron-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody();
     @RenderSection("scripts", required:false)
    <footer class="bg-gray-800 text-white">
    <div class="container mx-auto flex mb-10 flex-col lg:flex-row justify-center">
        <div class="lg:w-1/2 mx-4">

            <h3 class="text-xl border-b-2 py-2 border-b-red-600">
                ارتباط با مسفو
            </h3>
            <ul>
                <li class="py-1">
                    فروشگاه ظروف مسی مسفو
            </li>
            <li class="py-1" >
               آدرس: کوهبنان خیابان شهدا
            </li>
            <li class="py-1">
                تلفن: 0915555555
            </li>
        </ul>
    </div>
    <div class="lg:w-1/2 mx-4">

        <h3 class="text-xl border-b-2 py-2 border-b-red-600">
            ارتباط با مسفو
        </h3>
        <ul>
            <li class="py-1">
                فروشگاه ظروف مسی مسفو
        </li>
        <li class="py-1" >
           آدرس: کوهبنان خیابان شهدا
        </li>
        <li class="py-1">
            تلفن: 0915555555
        </li>
    </ul>
</div>
       
    </div>
    <div class="container mx-auto border-t border-gray-400 text-lg py-4">
        <h3>تمامی حقوق این وبسایت متعلق به گالری مس باروخ می باشد.</h3>
    </div>

</footer>

    <section>
        <!-- portal -->
        <div
            id="cat-modal"
            class="w-3/4 hidden  absolute top-44 left-24 h-96 border border-1 bg-white z-40 flex-col overflow-hidden"
            id="category-modal"
        >
            <h3 class="font-yekanbold m-2 pb-1 border-b border-red-100">محصولات فروشگاه باروخ</h3>
            <div class="flex overflow-hidden relative">

                <ul class="mr-8 w-96">
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >لیوان مسی صد میلی لیتری</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >قابلمه مسی سایز بزرگ</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >ظرف شیرینی خوری </a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >جام مسی</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >استکان و نعلبکی</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >ابزارآلات جانبی ظروف</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >مس</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >مس</a></li>


                </ul>
                <ul class="mr-8 w-96">
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >لیوان مسی صد میلی لیتری</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >قابلمه مسی سایز بزرگ</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >ظرف شیرینی خوری </a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >جام مسی</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >استکان و نعلبکی</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >ابزارآلات جانبی ظروف</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >مس</a></li>
                    <li class="flex"><a
                            class="cat-list-item"
                            href=""
                        >مس</a></li>


                </ul>
                <div class="w-2/5 ml-2 h-full bg-mess bg-cover bg-no-repeat rounded absolute left-0 top-0 hidden 2xl:block">

                </div>
            </div>
        </div>
        <div
            data-target="category-modal"
            class="popover-backdrop hidden bg-black opacity-10"
        ></div>

        <!-- Burger menu -->

        <div id="burger-menu" class="container transition duration-100 overflow-y-auto mx-auto flex flex-col lg:hidden fixed translate-x-80 z-50 top-0 h-full w-80 bg-white">
            <div class="flex justify-between">

                <a
                href="#"
            id="header-logo"
            class="lg:py-4 pt-2 block w-32"
        >
            <p class="text-md pr-4 mb-2 text-md md:text-lg font-yekanbold">گالری مس</p>
            <h1 class="text-2xl pr-16 "><span
                    class="text-white bg-red-600 rounded-md p-1 lg:text-2xl md:text-lg text-md font-yekanbold"
                >مسفو</span></h1>
            </a>
            <button id="burger-close" class="mx-2 absolute left-7 top-5"><i class="zmdi zmdi-close zmdi-hc-2x"></i></button>
        </div>
        <h3 class="mb-0 pt-5 pb-4 px-3 text-lg font-yekanbold">دسته بندی محصولات</h3>
            <ul class="flex justify-start w-full flex-col relative z-40 font-yekanbold text-gray-600">
                <li class="mx-3 py-3 border-b transition duration-100">
                    <a
                    
                       
                        class="relative block hover:text-black"
                        href=""
                    >
                        ظروف آشپزخانه
                        <i class="zmdi zmdi-chevron-down"></i>
                        <div
                        data-target="c1" class="mobile-cat-btn  rounded-md bg-opacity-5  absolute w-full h-full top-0 left-0"></div>
                    </a>
                    <ul id="c1" class="sublist h-0 scale-0">
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="mx-3 py-3 border-b transition duration-100">
                    <a
                    
                    
                        class="relative block hover:text-black"
                        href=""
                    >
                        لوازم دکور
                        <i class="zmdi zmdi-chevron-down"></i>
                        <div
                        data-target="c2" class="mobile-cat-btn  rounded-md bg-opacity-5  absolute w-full h-full top-0 left-0"></div>
                    </a>
                    <ul id="c2" class="sublist h-0 scale-0">
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="mx-3 py-3 border-b transition duration-100">
                    <a
                        
                       
                        class="relative block hover:text-black"
                        href=""
                    >
                        زیورآلات
                        <i class="zmdi zmdi-chevron-down"></i>
                        <div
                        data-target="c3" class="mobile-cat-btn  rounded-md bg-opacity-5  absolute w-full h-full top-0 left-0"></div>
                    </a>
                    <ul id="c3" class="sublist h-0 scale-0">
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                    </ul>
                </li>
                <li class="mx-3 py-3 border-b transition duration-100">
                    <a
                    
                        class="relative block hover:text-black"
                        href=""
                    >
                        لیوان و استکان
                        <i class="zmdi zmdi-chevron-down"></i>
                        <div
                        data-target="c4" class="mobile-cat-btn rounded-md bg-opacity-5 absolute w-full h-full top-0 left-0"></div>
                    </a>
                    <ul id="c4" class="sublist h-0 scale-0">
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                        <li class="py-2 pr-3 border-b">
                            <a href="">
                            قابلمه
                        </a>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="burger-backdrop hidden"></div>
    </section>
    <script src="/Site/js/category-popover-handler.js"></script>
      <style>


@@font-face {
    font-family: "yekan";
    src: url("../fonts/BYekan/BYekan+.ttf");
  }
  @@font-face {
    font-family: "yekanbold";
    src: url("../fonts/BYekan/BYekan+\ Bold.ttf");
  }

  @@font-face {
    font-family: "smooch";
    src: url("../fonts/Smooch/Smooch-Regular.ttf");
  }

.badge {
    @@apply p-1 rounded-md text-white;
}

.container-1400 {
    max-width: 1400px;
}
.popover-backdrop {
    @@apply z-30 fixed top-0 left-0 w-screen h-screen;
}

.cat-list-item {
    @@apply py-1 my-1 px-3 border-b-white hover:border-red-300 border-b border-r-2 w-full;
}
.bg-mess {
    background-image: url('../img/mess.jpg');
}

.product-carousel-btn {
    @@apply absolute top-32;
}

.product-carousel-btn-right {
    @@apply right-0;
}
.product-carousel-btn-left {
    @@apply left-0;
}

.w-200-px {
    width: 200px;
}

.slider-item {
    @@apply w-56 bg-white text-gray-700;
}

.search-form-hidden {
    @@apply scale-x-0 w-0;
}

.search-form {
    transform-origin: right;
}
.search-form-shown {
    @@apply transform scale-x-100 transition-transform duration-300 ease-linear;
}

.burger-backdrop {
    @@apply fixed top-0 left-0 bg-black w-screen h-screen z-40 opacity-20 ; 
}

.min-w-64 {
    min-width: 16rem;
}

#ascending:checked + #ascending-label {
    @@apply bg-gray-800 text-white;
}

#descending:checked + #descending-label {
    @@apply bg-gray-800 text-white;
}

.comment-modal {
    @@apply fixed justify-center items-center top-0 left-0 w-full h-full z-30;
}
  </style>

</body>


<script src="/Site/js/slider.js"></script>
<script src="/Site/js/burgersubmenu.js"></script>
<script src="/Site/js/product-carousel.js"></script>
<script src="/Site/js/main-header.js"></script>
<script src="/Site/js/search-form.js"></script>
<script src="/Site/js/burger-menu.js"></script>
</html>