<aside class="shadow-lg col-span-5 lg:col-span-1 mx-5 lg:mx-0 p-5 border rounded-lg lg:h-screen">
    <div class="flex justify-center mb-7">

        <a href="#"
           id="header-logo"
           class="block">
            <a asp-page="/" class="mt-2">
                <span class="text-orange-500 underline font-smooch text-3xl lg:text-5xl">Baruch</span>
                <h1 class="text-smooch lg:text-sm text-xs -mt-2 text-orange-500">مسکده باروخ</h1>
            </a>
    </div>

    <ul>
        <li class="text-sm text-blue-400 mb-5 hover:text-black"><i class="zmdi zmdi-dot-circle zmdi-hc-fw"></i><a asp-page="Profile/Dashbord">داشبورد</a></li>
        <li class="text-sm text-blue-400 mb-5 hover:text-black"><i class="zmdi zmdi-dot-circle zmdi-hc-fw"></i><a asp-page="Profile/editprofile">ویرایش اطلاعات کاربری</a></li>
        <li class="text-sm text-blue-400 mb-5 hover:text-black"><i class="zmdi zmdi-dot-circle zmdi-hc-fw"></i><a href="">تغییر رمز عبور</a></li>

    </ul>
</aside>